[submodule "powershell-utils"]
	path = vendor/powershell-utils
	url = https://github.com/zecarneiro/powershell-utils.git
[submodule "bash-utils"]
	path = vendor/bash-utils
	url = https://github.com/zecarneiro/bash-utils.git
